body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;
    color: #f9ff6a;
}
h1{
    color: black;
    font-family: 'Gigi', cursive;
    margin-right: 45%;
}
#linkHome{
   font-size: 150%;
}
#countMsg{
    position: relative;
    left: 80%;
    top: 5px;
    color: lime;
}
#countMsg:hover{
    background-color: lime;
    color: black;
}
#messagesDiv{
    flex: 3 0 0;
}
header, footer{
    flex: none;
    display: flex;
    align-items: center;
    background-color: #f9ff6a;
    color: black;
    padding: 1vh 2vw;
    flex-wrap: wrap;
}
main{
    flex: 1;
    overflow: auto;
    padding: 10px;
}