body {
    background: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: deeppink;
    font-family: 'Gigi', cursive;
    font-size: 300%;
    text-align: left;
    text-indent: 15%;
}

h2 {
    color: greenyellow;
    font-family: 'Gigi', cursive;
}

p {
    color: lightskyblue;
    text-align: justify;
    text-indent: 40px;
}

li {
    text-align: left;
    text-indent: 20px;
    -webkit-transition: font-size 2s;
}

li:hover {
    font-size: 200%;
}




header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

a:link {
    color: #ff5642;
}

a:visited {
    color: #45ff94;
}

a:hover {
    color: hotpink;
    /*text-shadow: 6em 0.0em 0.05em #43ff65;*/
    /*width: 300%;*/
}

a:active {
    color: #50a1ff;
}

.hide-on-small-screen {
    color: deeppink;
    font-weight: bold;
    margin: 10px;
}

@media screen and (max-width: 420px) {
    .hide-on-small-screen {
        font-size: 0;
        margin: auto;
    }

    .panel {
        margin: auto;
        flex: 1;
    }
}
#input {
    background-color: #8f28ff;
    border-radius: 5px;
    border-color: #8f28ff;
    width: calc(80% - 5px) ;
    margin: 10px;
    box-shadow: 0 0 3px 3px #8f28ff;
}

#input::-moz-placeholder{
    color: black;
    opacity: .7;
    margin-right: 10px;
}

#input::value{
    color: black;
    font-weight: bold;
}

#accueil {
    -moz-box-shadow: inset 0 0 10px;
    -webkit-box-shadow: inset 0 0 10px;
    box-shadow: inset 0 0 10px white;
    position: fixed;
    background-color: #a2a2a2;
    top: 0em;
    right: 0em;
    padding: 30px;
    border-radius: 0 0 0 15px;
    opacity: .8;
    z-index: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    a {
        font-size: 150%;
    }
    :hover {
        opacity: 1;
    }
}

#cadre {
    border-style: solid;
    border-width: thick;
    border-color: #a65fff;
    position: relative;
    border-radius: 15px;
    max-width: 650px;
    -webkit-animation: mymove 10s infinite alternate;
    text-align: center;
    margin: 30px auto;
}
#todolist{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    :empty::after {
        content: "Veuillez entrer une nouvelle tâche à faire svp!";
        font-style: italic;
        font-family: serif;
        color: #4effbe;
        text-align: center;
        margin-left: 30%;
    }
}


#alltasks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    div div:hover{
        border-left: 5px solid white;
        border-right: 5px solid white;
        background-color: #474747;
    }
}


#doneList {
    opacity: .7;
    .text {
        text-decoration: line-through;
        text-line-through-style: #8f28ff;
    }
}

article {
    margin-bottom: 10px;
    width: 100%;
    display: inline-flex;
    div div {
        padding-left: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 75%;
        text-align: left;
        word-wrap: break-word;
        line-height: 80%;
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        -webkit-transition: background 1s;
        -moz-transition: background 1s;
        -ms-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
    }
    div div:focus{
        font-weight: bold;
        border-radius: 5px;
        color: black;
        background-color: white;
    }
    img{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        height: 15px;
        border-radius: 10px;
        transition: box-shadow 1s;
    }
    img:hover {
        box-shadow: 0 0 3px 3px #e8e8e8;
    }
    input{
        -webkit-transition: box-shadow 1s;
        margin-left: 5%;
    }
    img:focus{
        box-shadow: 0 0 3px 3px #e8e8e8;
    }
    input:hover{
        box-shadow: 0 0 3px 3px #e8e8e8;
    }
    input:focus{
        box-shadow: 0 0 3px 3px #e8e8e8;
    }

}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: white;
    opacity: .7;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    :hover, .footer:focus {
        opacity: 1;
    }
    input {
        tab-index: 1;
    }
    img {
        width: 15px;
        height: auto;
        vertical-align: middle;
    }
}
footer > * {
    border: solid 1px gray;
    color: cyan;
    background: linear-gradient(white, rgba(255, 255, 255, 0.9));
    flex: 1;
    mix-blend-mode: difference;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

footer > *:hover, .footer > *:focus {
    text-shadow: 0 0 10px blue;
}

footer > *:disabled {
    display: none;
}

@-webkit-keyframes mymove {
    0% {
        border-color: #a65fff;
    }
    25% {
        border-color: #50a1ff;
    }
    50% {
        border-color: #ff78f4;
    }
    75% {
        border-color: #ffc194;
    }
    100% {
        border-color: #a65fff;
    }
}
