body {
    background: black;
    color: white;
    text-align: center;
    horiz-align: center;
}

h1 {
    color: deeppink;
    font-family: 'Gigi', cursive;
}

h2 {
    color: greenyellow;
    text-align: left;
    font-family: 'Gigi', cursive;
    font-size: 200%;
}

p {
    color: lightskyblue;
    text-align: justify;
}

a{
    -webkit-transition: font-size 2s;
}
a:link {
    color: #ff5642;
}

a:visited {
    color: #45ff94;
}

a:hover {
    color: hotpink;
    font-size: 200%;
}

a:active {
    color: #50a1ff;
}

#accueil {
    -moz-box-shadow: inset 0 0 10px;
    -webkit-box-shadow: inset 0 0 10px;
    box-shadow: inset 0 0 10px white;
    position: fixed;
    background-color: #a2a2a2;
    top: 0em;
    right: 0em;
    padding: 30px;
    border-radius: 0 0 0 15px;
    opacity: .8;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#accueil a {
    font-size: 150%;
}
#accueil:hover{
    opacity: 1;
}

.pen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background: orange;
    border-radius: 15px;
    padding: 20px;
}

.viewPen {
    padding: 10px;
    margin: 3px;
    max-width: calc(50% - 20px);
    height: auto;
    min-width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: column;
    flex-grow: 1;
}
.viewPen>div{

 }
@media screen and (min-width: 800px) {
    .viewport {display: flex;
    }
}