body {
    background: black;
    color:white;
    text-align: center;
    margin:0 auto;
}
h1{
    color: white;
    background-color: black;
    font-family: 'Gigi', cursive;
    mix-blend-mode: multiply;
}
h2{
    color: greenyellow;
    font-family: 'Gigi', cursive;
}
p{
    color: lightskyblue;
    text-align: justify;
    text-indent: 40px;
}
li{
    text-align:left;
    text-indent: 20px;
    -webkit-transition: font-size 2s;
}
li:hover{
    font-size: 200%;
}

#sourdine {
    /*-moz-box-shadow: inset 0 0 10px;*/
    /*-webkit-box-shadow: inset 0 0 10px;*/
    /*box-shadow: inset 0 0 10px white;*/
    border-style: solid;
    border-width: medium;
    border-color: #a65fff;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    -webkit-animation:mymove 10s infinite alternate;
    border-top: none;
    border-right: none;
    position: absolute;
    right: 0px;
    color: #fff466;
    width: 20%;
    background-color: black;
    padding: 10px;
    border-radius: 0 16px 0 15px;
    opacity: .8;
    z-index: 1;
}

#sourdine label {
    font-size: 150%;
}
#sourdine:hover {
    opacity: 1;
    background-color: #f09dff;
    cursor: pointer;
}

a:link {
    color: #ff5642;
}

a:visited {
    color: #45ff94;
}

a:hover {
    color: hotpink;
    text-shadow:  6em 0.0em 0.05em #43ff65;
    /*width: 300%;*/
}

a:active {
    color: #50a1ff;
}
img{
    border-style: solid;
    border-width: thick;
    border-color: #ffc194;
    border-radius: 15px;
    max-width: 80%;
    height: auto;
    -webkit-filter: grayscale(70%);
    filter: grayscale(50%);
    transform: rotate(7deg);
}
.description{

    background: black;
    boder: solid, #d74dff, 2px;
    color: #fffa62;
    font-size: smaller;
    border-radius: 10%;
    font-size:70%;
    min-width: 100px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    rigth:0;
    top: -10px;
    transform:scale(0.4);
    width:20%;
    z-index:2;
}
li{
    position: relative;
}
li:hover .description{
    opacity: 1;
    transition: 1s;
    transform: scale(1);
    right: -.9em;
}
li span{
    color: red;
}
.sujet:nth-child(even){
    color: #b64eff;
}
.sujet{
    color: #37ffa1;
}

#degrader{
    /*background:  -webkit-linear-gradient(left, red , yellow);*/
    background: linear-gradient(to right, #ff399a, #8f28ff, #fff466, #ff399a, #8f28ff, #fff466, #ff399a, #8f28ff, #fff466);

}
#cadre{
    border-style: solid;
    border-width: thick;
    border-color: #a65fff;
    position: relative;
    border-radius: 15px;
    max-width: 650px;
    -webkit-animation:mymove 10s infinite alternate;
    text-align: center;
    margin:30px auto;
}
@-webkit-keyframes mymove {
    0% {border-color: #a65fff;}
    25% {border-color: #50a1ff;}
    50%{border-color: #ff78f4;}
    75% {border-color: #ffc194;}
    100% {border-color: #a65fff;}
}
