body {
    background: black;
    color:white;
    text-align: center;
    margin:0 auto;
}
h1{
    color: deeppink;
    font-family: 'Harlow Solid Italic', cursive;
}
h2{
    color: greenyellow;
    font-family: 'Harlow Solid Italic', cursive;
}
p{
    color: lightskyblue;
    text-align: justify;
    text-indent: 40px;
}
li{
    text-align:left;
    text-indent: 60px;
}

a:link {
    color: #ff5642;
}

a:visited {
    color: #45ff94;
}

a:hover {
    color: hotpink;
    text-shadow:  6em 0.0em 0.05em #43ff65;

}

a:active {
    color: #50a1ff;
}
#cadre{
    border-style: solid;
    border-width: thick;
    border-color: #a65fff;
    padding: 10px;
    border-radius: 15px;
    max-width: 650px;
    text-align: center;
    margin:30px auto;

}