body {
    background: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: deeppink;
    font-family: 'Gigi', cursive;
    font-size: 200%;
    text-align: left;
    text-indent: 5%;
}

h2 {
    color: greenyellow;
    font-family: 'Gigi', cursive;
}

p {
    color: lightskyblue;
    text-align: justify;
    text-indent: 40px;
}

a {
    -webkit-transition: color 1s;
}

a:link {
    color: #ff5642;
}

a:visited {
    color: #45ff94;
}

a:hover {
    color: hotpink;
}

a:active {
    color: #50a1ff;
}

#accueil {
    -moz-box-shadow: inset 0 0 10px;
    -webkit-box-shadow: inset 0 0 10px;
    box-shadow: inset 0 0 10px white;
    position: fixed;
    background-color: #a2a2a2;
    top: 0em;
    right: 0em;
    padding: 30px;
    border-radius: 0 0 0 15px;
    opacity: .8;
    z-index: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#accueil a {
    font-size: 150%;
}

#accueil:hover {
    opacity: 1;
}
#fondBlancYoutube{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 5%;
    max-width: 80px;
    max-height: 20px;
    color: black;
    font-family: 'Lucida Console';
    box-shadow: 5px 5px 5px #888888;
}
#fondBlancYoutube span{
    letter-spacing: -1px;
    font-size: larger;
}
#fondRouge{
    background-color: red;
    border-radius: 5px;
    padding: 2px;
    max-width: 60%;
    color: white;
    text-align: left;
    text-indent: 0%;
}
@media (min-width: 800px){
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}}
.titreVideo{
    background: linear-gradient( #ff399a, #8f28ff, #fff466);
    border-radius: 40px 40px 15px 15px;
    padding: 30px;
    font-size: larger;
    color: black;
    margin: 15px;
}
.cadre{
    border-style: solid;
    border-width: thick;
    border-color: #a65fff;
    padding: 10px;
    border-radius: 40px 40px 15px 15px;
    -webkit-animation:mymove 10s infinite alternate;
    text-align: center;
    margin:30px auto;
}
@-webkit-keyframes mymove {
    0% {border-color: #a65fff;}
    25% {border-color: #50a1ff;}
    50%{border-color: #ff78f4;}
    75% {border-color: #ffc194;}
    100% {border-color: #a65fff;}
}