body {
    background: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: white;
    background-color: black;
    font-family: 'Gigi', cursive;
    mix-blend-mode: multiply;
}

h2 {
    color: greenyellow;
    font-family: 'Gigi', cursive;
}

p {
    color: lightskyblue;
    text-align: justify;
    text-indent: 40px;
}

a {
    -webkit-transition: font-size 2s;
}

a:link {
    color: #ff5642;
}

a:visited {
    color: #45ff94;
}

a:hover {
    color: hotpink;
    text-shadow: 6em 0.0em 0.05em #43ff65;
    font-size: 200%;
}

a:active {
    color: #50a1ff;
}

#accueil {
    -moz-box-shadow: inset 0 0 10px;
    -webkit-box-shadow: inset 0 0 10px;
    box-shadow: inset 0 0 10px white;
    position: fixed;
    background-color: #a2a2a2;
    top: 0em;
    right: 0em;
    padding: 30px;
    border-radius: 0 0 0 15px;
    opacity: .8;
}

#accueil a {
    font-size: 150%;
}

#accueil:hover {
    opacity: 1;
}
#fondBlancYoutube{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
    max-width: 100px;
    max-height: 20px;
    color: black;
    font-family: 'Lucida Console';
}
#fondRouge{
    position: relative;
    top: 0em;
    right: 0em;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    max-width: 30px;
    color: white;
    text-align: left;
    text-indent: 0%;
}